# =========================
# PYTHON
# =========================
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env
.envrc

# =========================
# BUILD / PACKAGING
# =========================
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# TESTS / COVERAGE
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.hypothesis/

# =========================
# IDEs
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# LOGS
# =========================
*.log
logs/
*.out

# =========================
# DATA (CRÍTICO)
# =========================
data/
*.csv
*.parquet
*.feather

# =========================
# MLOPS ARTIFACTS
# =========================
mlruns/
artifacts/
models/
*.pkl
*.joblib

# =========================
# AIRFLOW
# =========================
airflow/logs/
airflow/airflow.db

# =========================
# DOCKER
# =========================
docker-compose.override.yml
*.env

# =========================
# DATABASE FILES
# =========================
*.db
*.sqlite3

# =========================
# REDIS / QUEUES
# =========================
*.rdb
*.aof
*.pid

# =========================
# MINIO / STORAGE
# =========================
minio_data/

# =========================
# STREAMLIT
# =========================
.streamlit/secrets.toml

# =========================
# TEMP FILES
# =========================
tmp/
temp/
tempCodeRunnerFile.py